/* general settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(211, 211, 211);
}

/* logo and title */
header {
    height: 100px;
    background-color: white;
    padding: 10px 20px;
}

#logo {
    line-height: 80px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    line-height: 80px;
    vertical-align: middle;
} 

/* button section*/
#container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
}

#button_section {
    padding: 25px 70px;
    border-bottom: 2px solid lightgray;
}

.add_button {
    padding: 5px 10px;
    border-radius: 5px;
}

#blue_button {
    color: white;
    background-color: rgb(99, 163, 214);
    margin-right: 5px;
}

#white_button {
    color: lightgray;
    background-color: white;
}

/* content section */
#content {
    padding: 40px 70px;
}

.tasks_list {
    margin-bottom: 40px;
}

.task {
    margin: 15px 0;
    font-size: 20px;
}

.small_triangle {
    font-size: 25px;
    /* margin-left: 15px; */
}
h2 {
    display: inline-block;
    font-family: 'Azeret Mono', monospace;
    color: rgb(44, 44, 44);
}

.check {
    color:rgb(13, 197, 151);
    font-weight: bold;
    border-radius: 50%;
    padding: 1px 4px;
    border: 1px solid rgb(13, 197, 151) ;
}

.cross {
    color:red;
    font-weight: bold;
    border-radius: 50%;
    padding: 1px 4px;
    border: 1px solid red;
}


.info {
    display: inline-block;
    border-radius: 10px;
    padding: 4px 10px;
    color: white;
    font-size: 15px;
}

 #blue {
    background-color: rgb(99, 163, 214);
 }

 #purple {
     background-color: rgb(171, 53, 240);
 }

 #green {
     background-color: rgb(36, 211, 173);
 }

 #orange {
     background-color: orange;
 }

 #pink {
     background-color: rgb(212, 79, 141);
 }

 #lightgreen {
     background-color: rgb(143, 248, 58);
 }

